:root {
    --primary: #fea31d;
    --light: #edf4ff;
    --grey: #a8b2c6;
    --background: #262c3a;
    --transition: 0.25s ease-in-out;
    --border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    width: 100vw;

    overflow-x: hidden;
    overflow-y: scroll;

    background: rgb(26,28,39);
    background: linear-gradient(0deg, rgba(15,17,27,1) 0%, rgba(26,28,39,1) 100%);

    color: var(--grey);
    font-family: "Cabin", sans-serif;
}

html::before {
    content: "";
    position: fixed;
    z-index: -1;

    height: 100vh;
    width: 100vw;

    background: rgb(26,28,39);
    background: linear-gradient(0deg, rgba(15,17,27,1) 0%, rgba(26,28,39,1) 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Space Grotesk", sans-serif;
    color: var(--light);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

a, a:visited, a:hover {
    text-decoration: none;
    color: var(--grey);
}

@media (max-width: 500px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1rem;
    }
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 5px;
}
